{:adoption/version 3 :consumer/id :kotoba
 :security/git-sha "f409dbade106df076cefe640781b12db558f4135"
 :required-control-namespaces [kotoba.security.abac kotoba.security.crypto-policy kotoba.security.information-flow]
 :security-sensitive-entrypoints
 {kotoba.package-admission [kotoba.security.abac kotoba.security.crypto-policy]
  kotoba.host-providers [kotoba.security.information-flow]}
 :exceptions []}
